body {
    margin: 0;
    background: linear-gradient(-45deg, #f591c3, #ed99c6, #f985a6, #f3a8cd);
    background-size: 400% 400%;
    animation: bg 10s ease infinite;
    color: rgb(0, 0, 0);
}

@keyframes bg {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.container {
    display: flex;
    gap: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    width: 320px;
    padding: 25px;
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

input,
textarea {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background: #cd8ea3;
    color: white;
    cursor: pointer;
}

.item {
    margin-top: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}